.profile{
    max-width: 880px;
    margin: 40px auto 0px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 650px){
    .profile{
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 340px){
    .profile{
        margin: 40px auto;
    }
}