.popup__input-error{
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  margin-top: 5px;
  margin-left: 36px;
  align-self: flex-start;
  margin-bottom: 30px;
}

@media screen and (max-width: 650px){
  .popup__input-error{
    margin-left: 20px;
  }
}