.profile__info{
    margin: 0px 0px 0px 30px;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, min-content);
    align-self: center;
    flex-grow: 1;
}